//header
.header {
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 1px 0 0;
  @extend %clearfix;
  background: #fff;
  box-shadow: 0px 3px 5px RGBA(0, 0, 0, 0.5);
  // transition:.3s ease-out;
  @include screen('tablet') {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
  }
  .menu {
    @include screen('tablet') {
      display: none;
    }
  }
  // 虛擬底色 - navigation bg
  &:before {
    content: '';
    width: 100%;
    height: 0.5em;
    @include gradient($My_primaryColor, $My_secondaryColor, horizontal);
    position: absolute;
    top: 0;
    left: 0;
    @include screen('tablet') {
      display: none;
    }
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 1;
    @include box-sizing;
    @include screen('tablet') {
      display: block !important;
    }
    &:hover,
    &:focus {
      border: none !important;
    }
  }
  > .container {
    max-width: $container-max;
    overflow: visible;
    padding-top: 1px;
    @include gutter;
    position: relative; // menu
    @include screen('mobile') {
      @include gutter(0);
    }
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: $primaryColor;
        width: 50%;
        height: 2px;
        top: 35%;
        left: 50%;
        margin-left: -25%;
        display: block;
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 65%;
        }
      }
      @include screen('mobile') {
        background: $primaryColor;
        span {
          background: #fff;
        }
      }
    }
    // search
    .searchCtrl {
      display: block;
      font-size: 0em;
      position: absolute;
      right: 24px;
      top: 14px;
      width: 36px;
      height: 36px;
      background: $My_primaryColor;
      @extend %mobileCtrlBtn;
      &:before {
        width: 24px;
        height: 24px;
        background: url(../images/basic/icon_search_white.png) no-repeat center center;
        background-size: 24px;
        opacity: 1;
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        display: block;
      }
      @include screen('tablet') {
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;
        background: #fff;
        &:before {
          width: 30px;
          height: 30px;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 30px;
          top: 15px;
          left: 15px;
        }
      }
    }
  }
  h1 {
    position: relative;
    width: 300px;
    height: 80px;
    margin: -40px 0 0 0;
    float: left;
    padding: 0;
    @include box-sizing;
    a {
      display: block;
    }
    img {
      display: block;
      max-width: 300px;
      max-height: 100px;
      margin: 0 auto;
    }
    @include screen('tablet') {
      display: block;
      width: 100%;
      padding: 0px 60px;
      text-align: center;
      height: 60px;
      margin: 0;
      a {
        width: 220px;
        height: 60px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          flex: 1 1 100%;
          width: 100%;
          height: auto;
          max-height: 60px;
          margin: 0px auto 0;
          object-fit: contain;
        }
      }
    }
  }
  // 導覽列
  .navigation {
    &.have_language {
      padding-right: 13.05em;
    }
    @extend %clearfix;
    overflow: hidden;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    font-size: 0.938em;
    padding-left: 320px;
    margin-top: 0.75em;
    height: 2.6em;
    @include screen('tablet') {
      display: none;
    }
    ul {
      float: right;
      padding: 0;
      margin: 0;
      list-style: none;
      &.left_nav {
        float: left;
        margin-left: 2em;
      }
    }
    li {
      float: left;
      margin: 0 0.2em;
      a {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        @include aSetting_nocolor;
        img {
          max-width: 1.75em;
          max-height: 1.25em;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.2em;
        }
      }
    }
    .language {
      position: absolute;
      right: 65px;
      top: 1em;
      a {
        border: none;
      }
      ul {
        display: none;
      }
    }
    .btn_login {
      position: relative;
      top: 0.2em;
      background: $My_primaryColor;
      color: #fff;
      height: 2.4em;
      border: none;
      border-radius: 0;
      margin: 0;
      float: right;
      &:hover,
      &:focus {
        background: lighten($My_primaryColor, 10);
        box-shadow: none;
        border: none !important;
      }
    }
  }
}
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 2;
//animation
@keyframes showSearch_cat {
  0% {
    left: 4em;
    opacity: 0;
  }
  100% {
    left: 0em;
    opacity: 1;
  }
}
//animation
@keyframes showSearch_text {
  0% {
    left: 6em;
    opacity: 0;
  }
  100% {
    left: 0em;
    opacity: 1;
  }
}
//animation
@keyframes showBtn {
  0% {
    left: 6em;
    opacity: 0;
  }
  100% {
    left: 0em;
    opacity: 1;
  }
}
//animation
@keyframes close {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//search
.search {
  width: 100%;
  position: fixed;
  top: 0em;
  height: 100px;
  right: 0px;
  vertical-align: middle;
  background: #fff;
  z-index: 9999999;
  box-shadow: 1px 1px 5px RGBA(0, 0, 0, 0.75);
  @include box-sizing;
  &:before {
    position: absolute;
    top: -8px;
    right: 4%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 6px 3px;
    border-color: transparent transparent #ffffff transparent;
  }
  label {
    font-size: 0em;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .container {
    position: relative;
    max-width: $container-max;
    padding: 2em 15px 0 100px;
    @include screen('tablet') {
      padding: 1em 25px;
    }
    .close {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 0.3em;
      right: 15px;
      animation: close 0.5s $cubic, opacity 0.5s $cubic;
      @include screen('tablet') {
        display: none;
      }
      @include screen('mobile') {
        animation: none;
      }
      &:before,
      &:after {
        position: absolute;
        content: '';
        transform: rotate(45deg);
        width: 30px;
        border-top: 1px solid #aaa;
        top: 1em;
        left: 0;
      }
      &:after {
        transform: rotate(-45deg);
      }
      &:hover,
      &:focus {
        &:before,
        &:after {
          border-top: 2px solid #aaa;
        }
      }
    }
    .dropdown-content {
      background: #fff;
      border-radius: 4px;
      margin-top: 0.2em;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      font-size: 0.813em;
      max-width: 20em;
      position: relative;
      z-index: 1;
      @include screen('mobile') {
        max-width: 100%;
      }
      ul {
        @include li-reset;
        padding: 0.4em 0;
        li {
          a {
            padding: 0.3em 1em;
            display: block;
            @include aSetting_nocolor;
            span {
              color: $color-red;
              display: inline-block;
              margin: 0 0.2em 0 0;
            }
            &:hover,
            &:focus {
              background: #f1f1f1;
            }
          }
        }
      }
    }
    .form_grp {
      position: relative;
      height: 40px;
      top: 0;
      float: left;
      left: 0em;
      margin-right: 1%;
      select {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #666;
        height: 40px;
        margin-bottom: 0 !important;
        &:hover,
        &:focus {
          box-shadow: none;
          border-bottom: 1px solid lighten($My_primaryColor, 20);
        }
      }
      &.cate {
        width: 30%;
        animation: showSearch_cat 0.5s $cubic, opacity 0.5s $cubic;
        @include screen('mobile') {
          width: 100%;
          float: none;
          animation: none;
        }
        .btn {
          width: 100%;
          padding: 0.6em 1em 0.6em 0.4em;
          margin: 0 !important;
          border-radius: 0;
          border: none;
          background: none;
          border-bottom: 1px solid #ddd;
          text-align: left;
          font-size: 0.938em;
          position: relative;
          @include screen('tablet') {
            color: #fff;
          }
          &:after {
            position: absolute;
            content: '';
            top: 0.3em;
            right: 0;
            background: url(../images/basic/icon_select_arrow.svg) no-repeat right 0.5em;
            background-size: 20px;
            width: 20px;
            height: 24px;
            opacity: 0.5;
            @include screen('tablet') {
              opacity: 1;
              filter: invert(100%);
            }
          }
          &:hover,
          &:focus {
            border: none !important;
            border-bottom: 1px solid #ddd !important;
          }
        }
      }
      &.text {
        width: 50%;
        animation: showSearch_text 0.8s $cubic, opacity 0.8s $cubic;
        @include screen('mobile') {
          width: 100%;
          float: none;
          animation: none;
        }
        input[type='text'] {
          margin: 0;
          @include screen('mobile') {
            padding-right: 60px;
            color: #fff;
          }
        }
        .dropdown-content {
          max-width: 30em;
          @include screen('mobile') {
            max-width: 100%;
          }
          ul {
            li {
              a {
                color: #999;
                @include text-overflow;
              }
            }
          }
        }
      }
      input {
        margin: 0;
        padding: 0.2em 0.5em;
        box-shadow: none;
        &[type='text'] {
          margin-top: -3.9em;
          border-radius: 0;
          border: none;
          height: 40px;
          border-bottom: 1px solid #ddd;
          background: none;
          color: #333;
          &:focus {
            border: none;
            box-shadow: none;
            border-bottom: 1px solid lighten($My_primaryColor, 20);
            outline: none;
          }
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #aaa;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #aaa;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: #aaa;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: #aaa;
          }
        }
        &[type='submit'] {
          font-size: 0em;
          width: 30px !important;
          height: 30px;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 20px;
          border: none;
          display: block;
          opacity: 0.8;
          margin-top: -42px;
          margin-left: auto;
          margin-right: 0.2em;
          position: relative;
          z-index: 1;
          &:focus {
            opacity: 1;
            box-shadow: none !important;
            outline: 2px solid $aHover;
          }
        }
      }
    }
    .btn_grp {
      right: 0;
      float: left;
      padding: 0 !important;
      animation: showBtn 1s $cubic, opacity 1s $cubic;
      position: relative;
      @include screen('mobile') {
        animation: none;
      }
      a {
        font-size: 0.813em;
        vertical-align: bottom;
      }
      .btn {
        margin: 0;
        min-height: 40px;
        padding: 0.4em 1em 0.4em !important;
        font-size: 0.813em;
        background: none;
        border: none;
        position: relative;
        &:hover,
        &:focus {
          border: none !important;
          &:after {
            opacity: 0.6;
          }
        }
        &:after {
          position: absolute;
          content: '';
          left: 50%;
          margin-left: -20px;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 40px;
          width: 40px;
          height: 40px;
          top: 0;
          opacity: 0.3;
          @include screen('tablet') {
            position: absolute;
            content: '';
            left: 65%;
            margin-left: -20px;
            background: url(../images/basic/icon_search_white.png) no-repeat center center;
            background-size: 30px;
            width: 30px;
            height: 30px;
            top: 0.8em;
            opacity: 0.3;
          }
        }
      }
    }
  }
  // m_search
  &.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 1em 0.3em 1.5em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    display: none;
    z-index: 98;
    background: #222;
    label {
      font-size: 0em;
      line-height: 0;
    }
    .form_grp {
      width: 65%;
      height: auto;
      padding: 0 0 0 0% !important;
      margin-top: 0;
      text-align: left;
      float: left;
      height: 50px;
      position: relative;
      @include box-sizing();
      label {
        display: none;
      }
      @include screen('mobile') {
        width: 95%;
      }
      input {
        width: 100%;
        margin: 0;
        padding: 0.5em 45px 0.4em 0.5em;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #fff;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #fff;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #fff;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #fff;
        }
        &[type='submit'] {
          font-size: 0em;
          width: 36px !important;
          height: 36px;
          padding: 0;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 24px;
          border: none;
          display: inline-block;
          position: absolute;
          right: 5px;
          top: 0px;
          opacity: 0.8;
          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }
    }
    .btn_grp {
      padding: 0.1em 5% 0.1em 0;
      margin-bottom: 0;
      width: auto;
      text-align: left;
      @include box-sizing();
      @include screen('mobile') {
        margin: -3.5em 0 0 auto;
        width: 60px;
        float: right;
        a {
          margin-top: 30px;
          text-align: right;
        }
        a {
          display: block;
        }
        .btn {
          min-height: 30px;
          &:hover,
          &:focus {
            border: none !important;
            &:after {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
// header fix
.header.fixed {
  position: fixed;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  @include screen('tablet') {
    background: #fff;
  }
  h1 {
    display: none;
  }
  .searchCtrl {
    display: block !important;
    background: none !important;
    top: 0.2em;
  }
  .menu {
    margin: 0;
    > ul {
      border: none;
      padding-right: 60px;
      > li {
        &.hasChild {
          > a {
            &:after {
              border: 2px solid #fff;
              border-bottom: none;
              border-left: none;
            }
          }
        }
        > a {
          color: #fff;
        }
      }
    }
  }
}
//animation
@keyframes showSearch {
  0% {
    top: 4em;
    opacity: 0;
  }
  100% {
    top: 3em;
    opacity: 1;
  }
}
