.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px .5em 3px 0px;
            display: block;
            float: left;
        }
    }
    a {
        // @include gradient(#EEE, #EEE, vertical);
        background: transparent;
        border: 1px solid #666;
        padding: .4em 1em;
        display: block;
        color: #333;
        font-size: .813em;
        box-sizing:border-box;
        border-radius:1.5em;
        &:hover,
        &:focus {
            color: #FFF;
            // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
            background:$aHover;
            border: 1px solid darken($aHover, 0);
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            background:$aHover;
            border: 1px solid darken($aHover, 0);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}
