@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
[class^="i_"] {
    &:before {
        content: "";
        display: inline-block;
        height: 1em;
        width: 1em; // margin: -0.4em 0em;
        vertical-align: middle;
        speak: none;
    }
}
@mixin hyui_icon($icon_img) {
    &:before {
        background-image: url(../images/icon/#{$icon_img}.svg);
        background-size: cover;
        margin-top: -0.1em;
        margin-bottom: .1em;
        margin-left: -4px;
    }
}
// 反轉
.invert {
    &:before {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}
.i_apple {
    @include hyui_icon('icon_apple');
}
.i_arrow_left {
    @include hyui_icon('icon_arrow_left');
}
.i_arrow_right {
    @include hyui_icon('icon_arrow_right');
}
.i_bookmark {
    @include hyui_icon('icon_bookmark');
}
.i_chat {
    @include hyui_icon('icon_chat');
}
.i_check {
    @include hyui_icon('icon_check');
}
.i_clock {
    @include hyui_icon('icon_clock');
}
.i_close {
    @include hyui_icon('icon_close');
}
.i_edit {
    @include hyui_icon('icon_edit');
}
.i_facebook {
    @include hyui_icon('icon_facebook');
}
.i_googleplus {
    @include hyui_icon('icon_googleplus');
}
.i_grid {
    @include hyui_icon('icon_grid');
}
.i_heart_false {
    @include hyui_icon('icon_heart');
}
.i_heart {
    @include hyui_icon('icon_heart_added');
}
.i_home {
    @include hyui_icon('icon_home');
}
.i_info {
    @include hyui_icon('icon_info');
}
.i_link {
    @include hyui_icon('icon_link');
}
.i_linkedin {
    @include hyui_icon('icon_linkedin');
}
.i_lock {
    @include hyui_icon('icon_lock');
}
.i_mail {
    @include hyui_icon('icon_mail');
}
.i_rss {
    @include hyui_icon('icon_rss');
}
.i_setting {
    @include hyui_icon('icon_setting');
}
.i_star {
    @include hyui_icon('icon_star');
}
.i_twitter {
    @include hyui_icon('icon_twitter');
}
.i_video {
    @include hyui_icon('icon_video');
}
.i_vimeo {
    @include hyui_icon('icon_vimeo');
}
.i_youtube {
    @include hyui_icon('icon_youtube');
}
.i_global {
    @include hyui_icon('icon_global');
}
.i_trash {
    @include hyui_icon('icon_trash');
}
.i_sort {
    @include hyui_icon('icon_sort');
}
.i_move {
    @include hyui_icon('icon_move');
}
.i_layout {
    @include hyui_icon('icon_layout');
}
.i_copy {
    @include hyui_icon('icon_copy');
}
.i_download {
    @include hyui_icon('icon_download');
}
.i_search {
    @include hyui_icon('icon_search');
}
.i_photo {
    @include hyui_icon('icon_photo');
}
.i_grid_view {
    @include hyui_icon('icon_grid_view');
}
.i_line_view {
    @include hyui_icon('icon_line_view');
}
.i_list_view {
    @include hyui_icon('icon_list_view');
}
.i_table_view {
    @include hyui_icon('icon_table_view');
}
.i_star {
    @include hyui_icon('icon_star_yellow');
}
.i_star_false {
    @include hyui_icon('icon_star_gray');
}
.i_collect {
    @include hyui_icon('icon_folder_green');
}
.i_collect_false {
    @include hyui_icon('icon_folder_gray');
}
.i_question {
    @include hyui_icon('icon_question');
}
.i_building {
    @include hyui_icon('icon_building');
}
.i_location {
    @include hyui_icon('icon_location');
}
.i_box {
    @include hyui_icon('icon_box');
}
.i_book {
    @include hyui_icon('icon_book');
}
.i_man {
    @include hyui_icon('icon_man');
}
.i_add {
    @include hyui_icon('icon_add');
}
.i_minus {
    @include hyui_icon('icon_minus');
}
.i_calendar {
    @include hyui_icon('icon_calendar');
}
.i_filter {
    @include hyui_icon('icon_filter');
}
.i_reload {
    @include hyui_icon('icon_reload');
}
.i_award {
    @include hyui_icon('icon_award');
}
.i_barcode {
    @include hyui_icon('icon_barcode');
}
.i_product {
    @include hyui_icon('icon_product');
}
.i_company {
    @include hyui_icon('icon_company');
}
.i_360 {
    @include hyui_icon('icon_360');
}
.i_720 {
    @include hyui_icon('icon_720');
}
.i_delete {
    @include hyui_icon('icon_delete');
}
.i_information {
    @include hyui_icon('icon_information');
}
.i_read {
    @include hyui_icon('icon_read');
}
.i_videotalk {
    @include hyui_icon('icon_videotalk');
}
